.box {
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  transition: background-color 0.2s ease-in-out;
}

.box:hover {
  background-color: #eeeeee;
}

.title {
  color: #333333;
  font-size: 1.4rem;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  .box:hover {
    background-color: #363539;
  }

  .title {
    color: white;
  }
}
